USE [master]
GO
/****** Object:  Database [Banka NLB]    Script Date: 07-Jan-24 7:00:01 PM ******/
CREATE DATABASE [Banka NLB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka NLB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Banka NLB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka NLB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Banka NLB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka NLB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka NLB]
GO
/****** Object:  Table [dbo].[Dega]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dega](
	[ID_Dega] [int] NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Vendodhja] [nvarchar](50) NULL,
	[Kontakti] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klienti]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienti](
	[ID_Klienti] [nvarchar](50) NOT NULL,
	[Emri] [nvarchar](50) NOT NULL,
	[Mbiemri] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Klienti] PRIMARY KEY CLUSTERED 
(
	[ID_Klienti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kredia]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kredia](
	[ID_Kredia] [int] NOT NULL,
	[Shuma] [float] NOT NULL,
	[Interesi] [nvarchar](50) NOT NULL,
	[ID_Klienti] [int] NOT NULL,
 CONSTRAINT [PK_Kredia] PRIMARY KEY CLUSTERED 
(
	[ID_Kredia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llogaria]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llogaria](
	[ID_Llogaria] [int] NOT NULL,
	[Balanci] [float] NOT NULL,
	[Hapja] [nvarchar](50) NOT NULL,
	[ID_Klienti] [int] NOT NULL,
 CONSTRAINT [PK_Llogaria] PRIMARY KEY CLUSTERED 
(
	[ID_Llogaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punonjesi]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punonjesi](
	[ID_Punonjesi] [int] NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Mbiemri] [nvarchar](50) NULL,
	[ID_Kredia] [int] NOT NULL,
	[ID_Dega] [int] NOT NULL,
 CONSTRAINT [PK_Punonjesi] PRIMARY KEY CLUSTERED 
(
	[ID_Punonjesi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksioni]    Script Date: 07-Jan-24 7:00:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksioni](
	[ID_Transaksioni] [int] NOT NULL,
	[Shuma] [float] NOT NULL,
	[ID_Llogaria] [int] NOT NULL,
 CONSTRAINT [PK_Transaksioni] PRIMARY KEY CLUSTERED 
(
	[ID_Transaksioni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
