USE [master]
GO
/****** Object:  Database [Banka NLB]    Script Date: 08-Jan-24 3:17:09 PM ******/
CREATE DATABASE [Banka NLB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka NLB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Banka NLB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Banka NLB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Banka NLB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka NLB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka NLB]
GO
/****** Object:  Table [dbo].[Dega]    Script Date: 08-Jan-24 3:17:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dega](
	[ID_Dega] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Vendodhja] [nvarchar](50) NULL,
	[Kontakti] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Dega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klienti]    Script Date: 08-Jan-24 3:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienti](
	[ID_Klienti] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Mbiemri] [nvarchar](100) NULL,
	[Adresa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Klienti] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kredia]    Script Date: 08-Jan-24 3:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kredia](
	[ID_Kredia] [int] IDENTITY(1,1) NOT NULL,
	[Shuma] [float] NOT NULL,
	[Interesi] [nvarchar](100) NOT NULL,
	[ID_Klienti] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Kredia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Llogaria]    Script Date: 08-Jan-24 3:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Llogaria](
	[ID_Llogaria] [int] IDENTITY(1,1) NOT NULL,
	[Balanci] [float] NOT NULL,
	[Hapja] [nvarchar](50) NOT NULL,
	[ID_Klienti] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Llogaria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Punonjesi]    Script Date: 08-Jan-24 3:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Punonjesi](
	[ID_Punonjesi] [int] IDENTITY(1,1) NOT NULL,
	[Emri] [nvarchar](50) NULL,
	[Mbiemri] [nvarchar](50) NULL,
	[ID_Kredia] [int] NOT NULL,
	[ID_Dega] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Punonjesi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksioni]    Script Date: 08-Jan-24 3:17:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksioni](
	[ID_Transaksioni] [int] IDENTITY(1,1) NOT NULL,
	[Shuma] [float] NOT NULL,
	[ID_Llogaria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Transaksioni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Dega] ON 

INSERT [dbo].[Dega] ([ID_Dega], [Emri], [Vendodhja], [Kontakti]) VALUES (33, N'Raiffeisen Bank', N'Gjilan', 49222222)
INSERT [dbo].[Dega] ([ID_Dega], [Emri], [Vendodhja], [Kontakti]) VALUES (34, N'ProCredit Bank ', N'Ferizaj', 38555555)
INSERT [dbo].[Dega] ([ID_Dega], [Emri], [Vendodhja], [Kontakti]) VALUES (35, N'TEB', N'Prishtine', 38500500)
SET IDENTITY_INSERT [dbo].[Dega] OFF
SET IDENTITY_INSERT [dbo].[Klienti] ON 

INSERT [dbo].[Klienti] ([ID_Klienti], [Emri], [Mbiemri], [Adresa]) VALUES (9, N'Agnesa', N'Rexha', N'Kaqanik')
INSERT [dbo].[Klienti] ([ID_Klienti], [Emri], [Mbiemri], [Adresa]) VALUES (10, N'Ajan', N'Leka', N'Viti')
INSERT [dbo].[Klienti] ([ID_Klienti], [Emri], [Mbiemri], [Adresa]) VALUES (11, N'Gresa', N'Gashi', N'Ferizaj')
SET IDENTITY_INSERT [dbo].[Klienti] OFF
SET IDENTITY_INSERT [dbo].[Kredia] ON 

INSERT [dbo].[Kredia] ([ID_Kredia], [Shuma], [Interesi], [ID_Klienti]) VALUES (7, 856.8, N'17', 10)
INSERT [dbo].[Kredia] ([ID_Kredia], [Shuma], [Interesi], [ID_Klienti]) VALUES (8, 66.4, N'12', 11)
INSERT [dbo].[Kredia] ([ID_Kredia], [Shuma], [Interesi], [ID_Klienti]) VALUES (9, 1289.98, N'9', 12)
SET IDENTITY_INSERT [dbo].[Kredia] OFF
SET IDENTITY_INSERT [dbo].[Llogaria] ON 

INSERT [dbo].[Llogaria] ([ID_Llogaria], [Balanci], [Hapja], [ID_Klienti]) VALUES (2, 17212, N'24 korrik 2008', 10)
INSERT [dbo].[Llogaria] ([ID_Llogaria], [Balanci], [Hapja], [ID_Klienti]) VALUES (3, 787717, N'24 dhjetor 2012', 9)
INSERT [dbo].[Llogaria] ([ID_Llogaria], [Balanci], [Hapja], [ID_Klienti]) VALUES (4, 456735, N'15 maj 2020', 11)
SET IDENTITY_INSERT [dbo].[Llogaria] OFF
SET IDENTITY_INSERT [dbo].[Punonjesi] ON 

INSERT [dbo].[Punonjesi] ([ID_Punonjesi], [Emri], [Mbiemri], [ID_Kredia], [ID_Dega]) VALUES (1, N'Hana', N'Osmani', 7, 33)
INSERT [dbo].[Punonjesi] ([ID_Punonjesi], [Emri], [Mbiemri], [ID_Kredia], [ID_Dega]) VALUES (4, N'Mendrit', N'Livoreka', 9, 35)
SET IDENTITY_INSERT [dbo].[Punonjesi] OFF
SET IDENTITY_INSERT [dbo].[Transaksioni] ON 

INSERT [dbo].[Transaksioni] ([ID_Transaksioni], [Shuma], [ID_Llogaria]) VALUES (2, 67.9, 3)
INSERT [dbo].[Transaksioni] ([ID_Transaksioni], [Shuma], [ID_Llogaria]) VALUES (3, 322.89, 4)
INSERT [dbo].[Transaksioni] ([ID_Transaksioni], [Shuma], [ID_Llogaria]) VALUES (4, 22.1, 2)
SET IDENTITY_INSERT [dbo].[Transaksioni] OFF
ALTER TABLE [dbo].[Kredia]  WITH CHECK ADD FOREIGN KEY([ID_Klienti])
REFERENCES [dbo].[Klienti] ([ID_Klienti])
GO
ALTER TABLE [dbo].[Llogaria]  WITH CHECK ADD FOREIGN KEY([ID_Klienti])
REFERENCES [dbo].[Klienti] ([ID_Klienti])
GO
ALTER TABLE [dbo].[Punonjesi]  WITH CHECK ADD  CONSTRAINT [FK_Dega_Punonjesi] FOREIGN KEY([ID_Dega])
REFERENCES [dbo].[Dega] ([ID_Dega])
GO
ALTER TABLE [dbo].[Punonjesi] CHECK CONSTRAINT [FK_Dega_Punonjesi]
GO
ALTER TABLE [dbo].[Punonjesi]  WITH CHECK ADD  CONSTRAINT [FK_Kredia_Punonjesi] FOREIGN KEY([ID_Kredia])
REFERENCES [dbo].[Kredia] ([ID_Kredia])
GO
ALTER TABLE [dbo].[Punonjesi] CHECK CONSTRAINT [FK_Kredia_Punonjesi]
GO
ALTER TABLE [dbo].[Transaksioni]  WITH CHECK ADD FOREIGN KEY([ID_Llogaria])
REFERENCES [dbo].[Llogaria] ([ID_Llogaria])
GO
USE [master]
GO
